body { background: #b9f2d1; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 20px; display: flex; }
.block-config-0 { color: #efcf9f; font-size: 18px; margin-bottom: 5px; }
.block-metrics-1 { color: #9ec720; font-size: 17px; margin-bottom: 5px; }
.block-product-2 { color: #fc04d; font-size: 14px; margin-bottom: 5px; }
.block-database-3 { color: #463831; font-size: 20px; margin-bottom: 5px; }
.block-email-4 { color: #84b0be; font-size: 19px; margin-bottom: 5px; }